<div class="flex justify-center">
    <div class="w-1/2">
        <h1 class="text-2xl">Forms and lists</h1>
        <form hx-action="submit" hx-post="/item" hx-target="#item-list" hx-swap="innerHTML">
            <input type="text" name="item" id="name" class="input input-bordered" placeholder="New Item">
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
        <div id="item-list" class="text-xl">
            {% include "item_list.html.jinja" %}
        </div>
    </div>
</div>