<div class="flex justify-center">
    <div class=" w-1/2 rounded-box">
        <img id="plot-swap" src="data:image/png;base64, {{plot}}" alt="Red dot" />
        <form hx-trigger="change" hx-get="/plot_internal" hx-target="#plot-swap" 
        hx-swap="outerHTML">
            <div class="form-control">
                <label class="label">AMP 1</label>  
                <input type="range" min="0" max="3" value="1" class="slider"  name="amp1" step="0.1">
                <label class="label">AMP 2</label>
                <input type="range" min="0" max="3" value="1" class="slider"  name="amp2" step="0.1">
                <label class="label">FREQ 1</label>
                <input type="range" min="0" max="3" value="1" class="slider"  name="freq1" step="0.1">
                <label class="label">FREQ 2</label>
                <input type="range" min="0" max="3" value="1" class="slider"  name="freq2" step="0.1">
                <label class="label">PHASE 1</label>
                <input type="range" min="0" max="3" value="1" class="slider"  name="phase1" step="0.1">
                <label class="label">PHASE 2</label>
                <input type="range" min="0" max="3" value="1" class="slider"  name="phase2" step="0.1">
            </div>
    </div>
</div>